<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="/favicon.ico">

		<title>Aita.vn</title>
		{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> --}}

		{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous"> --}}

		<link rel="stylesheet" href="/styles/site.css">
		<link rel="stylesheet" href="/styles/tablet.css" media="screen and (max-width: 768px)">
		<link rel="stylesheet" href="/styles/mobile.css" media="screen and (max-width: 375px)">
		<link href="/styles/libs/react-select/react-select.css" rel="stylesheet">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

		<!-- for Facebook -->
		<meta property="og:url" content="https://aitavn.herokuapp.com/" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="When Great Minds Don’t Think Alike" />
		<meta property="og:description" content="How much does culture influence creative thinking?" />
		<meta property="og:image" content="http://media.visla.vn/cache/300x200/2015/03/25/80364355855122ea9cc074.jpg" />

		<!-- for Google -->
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<meta name="copyright" content="" />
		<meta name="application-name" content="" />

		<!-- for Twitter -->
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="" />
		<meta name="twitter:description" content="" />
		<meta name="twitter:image" content="" />
	</head>
	<body data-env="{{env}}" data-local="{{dataLocal}}">
		<div id="fb-root"></div>
		<script>
			window.fbAsyncInit = function() {
				FB.init({
					appId      : '209715572476105',
					xfbml      : true,
					version    : 'v2.5'
				});
			};
			(function(d, s, id){
				 var js, fjs = d.getElementsByTagName(s)[0];
				 if (d.getElementById(id)) {return;}
				 js = d.createElement(s); js.id = id;
				 js.src = "//connect.facebook.net/en_US/sdk.js";
				 fjs.parentNode.insertBefore(js, fjs);
			 }(document, 'script', 'facebook-jssdk'));
		</script>

		<nav class="navbar">
			<button class="navbar--menu-btn js-menu-button"><i class="icon icon-menu"></i></button>
			<button class="navbar--search-btn js-search-button"><i class="icon icon-search"></i></button>

			<input type="checkbox" 
				id="menu-kepper" 
				name="menu-kepper" 
				class="menu-kepper js-menu-kepper" />

			<ul class="navbar--list">
				<li class="navbar--item navbar--item__icon"><a href="/">Aita.vn</a></li>{{!-- 
				--}}<li class="navbar--item {{#ifeq section 'nha'}}active{{else}}{{/ifeq}}"><a href="/nha" title="Nhà riêng">Nhà riêng</a></li>{{!-- 
				--}}<li class="navbar--item {{#ifeq section 'can-ho'}}active{{else}}{{/ifeq}}"><a href="/can-ho" title="Căn hộ/chung cư">Căn hộ</a></li>{{!-- 
				--}}<li class="navbar--item {{#ifeq section 'phong'}}active{{else}}{{/ifeq}}"><a href="/phong" title="Phòng cho thuê">Phòng cho thuê</a></li>
			</ul>

			<ul class="navbar--list-control">
				{{#if client}}
				<li class="navbar--item {{#ifeq ../section 'dang-tin'}}active{{else}}{{/ifeq}}"><a href="/dang-tin" title="Phòng cho thuê">Đăng tin</a></li>{{!-- 
				--}}<li class="navbar--item"><a href="/profile">{{client.name.first}} {{client.name.last}}</a></li>
				{{else}}
				<li class="navbar--item {{#ifeq ../section 'dang-nhap'}}active{{else}}{{/ifeq}}"><a href="/auth/facebook" title="Phòng cho thuê">Đăng nhập bằng facebook</a></li>{{!-- 
				--}}{{!-- <li class="navbar--item {{#ifeq ../section 'dang-ky'}}active{{else}}{{/ifeq}}"><a href="/dang-ky" title="Phòng cho thuê">Đăng ký</a></li> --}}
				{{/if}}
			</ul>
		</nav>

		<div class="main">
			{{{body}}}
		</div>

		{{!-- <script src="/js/libs/react/react.js"></script>
		<script src="/js/libs/react/react-dom.js"></script>
		<script src="/js/libs/react-select/react-select.js"></script> --}}

		<script src="//www.promisejs.org/polyfills/promise-7.0.4.min.js"></script>
		<script src="//cdn.jsdelivr.net/lodash/4.6.1/lodash.min.js"></script>
		<script src="//npmcdn.com/react@0.14.2/dist/react.min.js"></script>
		<script src="//npmcdn.com/react-dom@0.14.2/dist/react-dom.min.js"></script>
		<script src="//npmcdn.com/three.js@0.73.0/build/three.min.js"></script>
		<script src="//npmcdn.com/classnames@2.0.0/index.js"></script>
		<script src="//npmcdn.com/react-input-autosize@0.6.3/dist/react-input-autosize.min.js"></script>
		<script src="/js/libs/react-select/react-select-stand.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

		<script src="/js/jquery/jquery-2.1.4.min.js"></script>
		<script src="/js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
		<script src="/js/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
		<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyD_yXbTRgAl5Vsku8zPVgp5qALfXQxNUk4"></script>
		<script src="/js/modules/jquery.marker.js"></script>
		<script src="/js/views/script.js"></script>

		{{!-- custom libs --}}
		<script src="/js/libs/api-service.js"></script>

		{{!-- plugins --}}
		<script src="/js/modules/nav-tabs.js"></script>

		{{!-- js for specific pages --}}
		<script src="/js/views/index.js"></script>
		<script src="/js/views/dang-tin.js"></script>
		<script src="/js/views/chi-tiet.js"></script>

		{{!-- react comps --}}
		<script src="/js/react-comp/post-element.jsx" type="text/babel"></script>
		
		<script src="/js/react-comp/search-box.jsx" type="text/babel"></script>
		<script src="/js/react-comp/dang-tin.jsx" type="text/babel"></script>
		<script src="/js/react-comp/post-section.jsx" type="text/babel"></script>

		<!--<script type="text/javascript">
		(function(d,s,id){var z=d.createElement(s);z.type="text/javascript";z.id=id;z.async=true;z.src="//static.zotabox.com/f/c/fc9c72038d852eb8b556239bcc0af7d5/widgets.js";var sz=d.getElementsByTagName(s)[0];sz.parentNode.insertBefore(z,sz)}(document,"script","zb-embed-code"));
		</script>-->
	</body>
</html>
