{{!-- Capheshift 2015 --}}
{{!-- Author: Tw --}}

<div class="main-content">
	<div class="container jspage-chi-tiet">
		<div class="columns seven">
		{{# with data.post}}
			<div class="u-hidden jsdata-detail" data-lat="{{latitude}}" data-lng="{{longitude}}"></div>

			<div class="content-wrapper">
				<div class="media-wrapper media-wrapper__no-padding">
					<div class="media">
						<div class="media-left hidden-xs">
							<a href="#">
								<span class="avatar-wrapper">
									<img src={{author.avatar}}>
								</span>
							</a>
						</div>

						<div class="media-body">
							<h4 class="media-heading">
								<a href="/chi-tiet" data-items-list="" data-latitude="" data-longitude="">
									{{toAuthorName author}}
								</a>
							</h4>

							<span class="tel-group-wrapper">
								<input type="checkbox" id="checkbox-{{@index}}" class="tel-group--checkbox" />
								<label for="checkbox-{{@index}}" class="tel-group--label"><i class="icon-phone"></i> Nhấn để xem</label>
								<a href="tel:{{mobile}}" class="tel-group--phone-number"><i class="icon-phone"></i> {{mobile}}</a>
							</span>
							
							<button class="button__link" 
								data-facebook-id="{{author.providerId}}" 
								data-link="http://www.visla.vn/du-an/468/sunrise-city?aid=20686"
								onclick="fbSend(this)">
								<i class="glyphicon glyphicon-flash"></i> Nhắn qua Facebook
							</button>

							<!-- <a href="mailto:{{post.author.email}}" class="btn btn-link">
								<i class="glyphicon glyphicon-envelope"></i> {{post.author.email}}
							</a> -->
						</div>
					</div>
				</div>
			</div>

			<div class="content-wrapper">
				<h3 class="header-01">{{title}}</h3>
				<h5 class="header-02">{{address}}</h5>

				<h5>Thông tin chi tiết</h5>
				<div class="row infomation-b">
					<div class="columns four">
						<b>Ngày đăng: </b><span>04/12/3016</span>
					</div>
					<div class="columns four">
						<b>Hình thức: </b><span>{{typeName type}}</span>
					</div>
					<div class="columns four">
						<b>Giá: </b><span>{{toCurrency price}}</span>
					</div>
				</div>
				<div class="row infomation-b">
					<div class="columns four">
						<b>Diện tích: </b><span>{{area}} m2</span>
					</div>
					<div class="columns four">
						<b>Phòng ngủ: </b><span>{{bedroom}}</span>
					</div>
					<div class="columns four">
						<b>Phòng tắm: </b><span>{{bathroom}}</span>
					</div>
				</div>
				<div class="row infomation-b">
					<div class="columns four">
						<b>Hướng: </b><span>{{quarter}}</span>
					</div>
					<div class="columns four">
						<b>Số tầng: </b><span>{{floors}}</span>
					</div>
					<div class="columns four">
						<b>Môi giới: </b><span>{{isMedium medium}}</span>
					</div>
				</div>
			</div>

			<div class="content-wrapper">
				<h5>Mô tả chung</h5>
				<p>{{{description}}}</p>

				<!-- Nav tabs -->
				<ul class="nav-tabs _pure" role="tablist">
					<li class="nav-tabs--item nav-tabs--item__two active" data-href="#image-pane">
						<a href="javascript:;" data-toggle="tab">Hình ảnh</a>
					</li>
					<li class="nav-tabs--item nav-tabs--item__two" data-href="#map-pane">
						<a href="javascript:;" data-toggle="tab">Bản đồ</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-content--pane active" id="image-pane">
							{{#each images}}
							<span class="wrapper-cover-img">
								<a class="fancybox" rel="gallery" href={{secure_url}}>
									<img class="media-object" src={{secure_url}}>
								</a>
							</span>
							{{/each}}
					</div>
					<div class="tab-content--pane tab-content--pane__map" id="map-pane"> 
						<div class="input-map">
							<div id="google-map" class="google-map-block google-map-detail"></div>
						</div>
						<div class="clear-top"></div>
					</div>
				</div>

				<div class="sub-detail-info">
					Hồ Chí Minh / {{districtName district}}
					<div class="u-pull-right">
						{{!-- <div class="fb-send" data-href="https://aitavn.herokuapp.com/chi-tiet"></div> --}}
						<div class="fb-share-button" 
							data-href="https://aitavn.herokuapp.com/chi-tiet" 
							data-layout="button"></div>
					</div>
				</div>
			</div>

			<div class="content-wrapper">
				<div class="fb-comments" 
					data-href="https://aita.vn/chi-tiet/{{id}}" 
					data-numposts="12"></div>
			</div>
		{{/with}}
		</div>

		<div class="columns five main-right-panel">
			{{#each data.relatedPosts}}
				<div class="suggest-post">
					<div class="suggest-post--header">
						<h4 class="media-heading">
							<a href="/chi-tiet" data-items-list="" data-latitude="" data-longitude="">{{toAuthorName author}}</a>
							<span class="tel-group-wrapper">
								<input type="checkbox" id="checkbox-{{@index}}" class="tel-group--checkbox" />
								<label for="checkbox-{{@index}}" class="tel-group--label"><i class="icon-phone"></i> Nhấn để xem</label>
								<a href="tel:{{mobile}}" class="tel-group--phone-number"><i class="icon-phone"></i> {{mobile}}</a>
							</span>
						</h4>

						<ul class="post-info--list">
							<li class="post-info--item">{{area}} m2</li>
							<li class="post-info--item">|</li>
							<li class="post-info--item">{{bedroom}} phòng ngủ</li>
							<li class="post-info--item">|</li>
							<li class="post-info--item"><b>{{toCurrency price}} VND/Tháng</b></li>
						</ul>
						{{{description}}}
						<a href="/chi-tiet/{{id}}">chi tiết <i class="icon-right-open"></i></a>
					</div>
					<div>
						{{#each images}}
							<span class="wrapper-cover-img">
									<a class="fancybox" rel="gallery" href={{secure_url}}>
										<img class="media-object" src={{secure_url}}>
									</a>
							</span>
						{{/each}}
					</div>
					<small><a href="#">Hồ Chí Minh / {{districtName district}}</a></small>
				</div>
			{{/each}}
		</div>

		{{!-- <div class="col-md-5">
			<h3>Phạm Minh Tâm</h3>
			<p>
				<i class="glyphicon glyphicon-envelope"></i>
				<span>106 Đường D2, P24, Bình Thạnh, Sài Gòn</span>
				<br />
				<i class="glyphicon glyphicon-envelope"></i>
				<span>email@example.com</span>
				<br />
				<i class="glyphicon glyphicon-envelope"></i>
				<span>01643-652-922</span>
				<br />
				<i class="glyphicon glyphicon-envelope"></i>
				<a href="http://www.jquery2dotnet.com">www.jquery2dotnet.com</a>
				<br />
				<i class="glyphicon glyphicon-envelope"></i>
				<span>June 02, 1988</span>
				<br />
				<br />
				<button class="btn btn-sm btn-success" onclick="fbSend()">Gởi tin nhắn Facebook</button>
			</p>
		</div> --}}
	</div>
</div>
