{{!< default}}

<div class="full-height-wrapper">
	<div class="index-block js-container js-page-index">
		<div class="index-block--left columns">
			<div class="result-block">
				<!-- Nav tabs -->
				<ul class="nav-tabs _pure">
					<li role="presentation" class="nav-tabs--item nav-tabs--item__two active" data-href="#filter">
						<a href="javascript:;" data-toggle="tab">Bộ lọc</a>
					</li>
					<li role="presentation" class="nav-tabs--item nav-tabs--item__two" data-href="#favorite">
						<a href="javascript:;" data-toggle="tab">Đã lưu</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-content--pane active" id="filter">
						<div id="search-box-holder" class="search-box-container"></div>
						<div id="list-post-from-server" class="list-post-from-server">
							<div class="list-result" data-marker="">
								{{# each data.posts}}
									<div class="media-wrapper">
										<div class="media js-post-content"
											data-item=""
											data-price={{price}} data-area={{area}}
											data-bedroom={{bedroom}} data-bathroom={{bathroom}}
											data-latitude={{latitude}} data-longitude={{longitude}}
											data-is-loaded="false" >
											<div class="media-left hidden-xs">
												<a href="#">
													<span class="avatar-wrapper">
														<img src={{author.avatar}} alt={{author.name}}>
													</span>
												</a>
											</div>

											<div class="media-body">
												<h4 class="media-heading">
													<a href="/chi-tiet" data-latitude="" data-longitude="">{{toAuthorName author}}</a>

													<input type="checkbox" id="checkbox-{{@index}}" class="tel-group--checkbox" />
													<label for="checkbox-{{@index}}" class="tel-group--label">
														<i class="icon-phone"></i> Nhấn để xem
													</label>
													<a href="tel:{{mobile}}" class="tel-group--phone-number">
														<i class="icon-phone"></i> {{mobile}}
													</a>
													
													{{#if ../user}}											
														{{#if (isBookmarked _id)}}
															<div class="btn btn-bookmark bookmarked">
														{{else}}
															<div class="btn btn-bookmark">
														{{/if}}

															<form class="form-bookmark" value="{{_id}}">
																<i class="glyphicon glyphicon-star"></i>
															</form>
														</div>
													{{/if}}
												</h4>

												<ul class="post-info--list">
													<li class="post-info--item">{{area}} m2</li>
													<li class="post-info--item">|</li>
													<li class="post-info--item">{{bedroom}} phòng ngủ</li>
													<li class="post-info--item">|</li>
													<li class="post-info--item">{{bathroom}} phòng tắm</li>
													<li class="post-info--item">|</li>
													<li class="post-info--item"><b>
														{{toCurrency price}} VND{{#if (isRent type)}}/tháng{{/if}}
													</b></li>
												</ul>
												<div class="sumary-b">
													{{truncate description 220}}
													<a href="/chi-tiet/{{id}}">chi tiết<i class="icon-right-open"></i></a>
												</div>

												<div class="gallery">
													{{#each images}}
													<span class="wrapper-cover-img">
														<a class="fancybox-thumb" rel="fancybox-thumb" href={{secure_url}}>
															<img class="media-object" src={{secure_url}}>
														</a>
													</span>
													{{/each}}
												</div>
											</div>
										</div>
									</div>
								{{/each}}

								{{!-- <div class="u-full-width u-content-center">
									<button class="btn-success btn-lg">Xem thêm</button>
								</div> --}}
							</div>
						</div>
						
						<div id="list-post-holder" class="list-post-container"></div>
					</div>

					<div class="tab-content--pane" id="favorite">
						{{#if user}}
							{{# each data.posts}}
								{{#if (isBookmarked _id)}}
									<div class="media-wrapper">
										<div class="media js-post-content"
											data-item=""
											data-price={{price}} data-area={{area}}
											data-bedroom={{bedroom}} data-bathroom={{bathroom}}
											data-latitude={{latitude}} data-longitude={{longitude}}
											data-is-loaded="false" >
											<div class="media-left hidden-xs">
												<a href="#">
													<span class="avatar-wrapper">
														<img src={{author.avatar}} alt={{author.name}}>
													</span>
												</a>
											</div>

											<div class="media-body">
												<h4 class="media-heading">
													<a href="/chi-tiet" data-latitude="" data-longitude="">{{toAuthorName author}}</a>

													<input type="checkbox" id="checkbox-{{@index}}" class="tel-group--checkbox" />
													<label for="checkbox-{{@index}}" class="tel-group--label">
														<i class="glyphicon glyphicon-earphone"></i> Nhấn để xem
													</label>
													<a href="tel:{{mobile}}" class="tel-group--phone-number">
														<i class="glyphicon glyphicon-earphone"></i> {{mobile}}
													</a>
												</h4>

												<ul class="post-info--list">
													<li class="post-info--item">{{area}} m2</li>
													<li class="post-info--item">|</li>
													<li class="post-info--item">{{bedroom}} phòng ngủ</li>
													<li class="post-info--item">|</li>
													<li class="post-info--item">{{bathroom}} phòng tắm</li>
													<li class="post-info--item">|</li>
													<li class="post-info--item"><b>{{toCurrency price}} VND</b></li>
												</ul>
												
												<div class="sumary-b">
													{{{description}}}
													<a href="/chi-tiet/{{id}}">
														chi tiết <i class="glyphicon glyphicon-menu-right"></i>
													</a>
												</div>

												<div class="gallery">
													{{#each images}}
													<span class="wrapper-cover-img">
														<a class="fancybox-thumb" rel="fancybox-thumb" href={{secure_url}}>
															<img class="media-object" src={{secure_url}}>
														</a>
													</span>
													{{/each}}
												</div>
											</div>
										</div>
									</div>
								{{/if}}
							{{/each}}
						{{/if}}
					</div>
				</div>
			</div>
		</div>

		<div class="index-block--right">
			<div id="google-map" class="google-map-block"></div>
		</div>
	</div>
</div>
