{{!-- Capheshift 2015 --}}
{{!-- Author: skullopus --}}

<div class="container">
	<h1>Trang quản lý bài đăng</h1> 
	<div class="row">
		<div class="main-left-panel col-md-7">
			{{# each data.posts}}
				<div class="result-block" style="margin-top:25px">
					<div class="media-body">
						<h4 class="media-heading">
							<a href="/chi-tiet/{{id}}" data-items-list="" data-latitude="" data-longitude="">{{title}}</a>
							<a href="tel:{{mobile}}" class="" style="margin-left:15px; color:#000; display:inline-block">
								<i class="glyphicon glyphicon-earphone"></i> {{mobile}}
							</a>
							{{#unless (isActive activeDate)}}
								<span style="font-weight:bold; color:#cc0000; margin-left: 10px;">Hết hạn</span>
							{{/unless}}
						</h4>
						<ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
							<li>{{area}} m2</li>
							<li style="list-style: none">|</li>
							<li>{{bedroom}} phòng ngủ</li>
							<li style="list-style: none">|</li>
							<li><b>{{toCurrency price}} VND</b></li>
						</ul>
						{{{description}}}
						<a href="/chi-tiet/{{id}}">chi tiết <i class="glyphicon glyphicon-menu-right"></i></a>
						<a href="#" style="margin-left:15px; display:inline-block">
							<i class="glyphicon glyphicon-pencil"></i> chỉnh sửa
						</a>
						{{#unless (isActive activeDate)}}
							<form class="form-reactivate" value="{{id}}" style="margin-left:15px; display:inline-block">
								<a href="#">
									<i class="glyphicon glyphicon-repeat"></i> Kích hoạt lại
								</a>
							</form>						
						{{/unless}}													
					</div>

					<div>
					{{# each images}}
							<span class="wrapper-cover-img">
								<a class="fancybox" rel="gallery" href="{{url}}">
									<img class="media-object" src="{{url}}">
								</a>
							</span>
					{{/each}}
					</div>

					<small><a href="#">Hồ Chí Minh / {{districtName district}}</a></small>
				</div>
			{{/each}}
		</div>

		<div class="main-right-panel col-md-5">
			<div class="suggest-item">
				<div class="media-body">
					<h4 class="media-heading">
						<a href="/chi-tiet" data-items-list="" data-latitude="" data-longitude="">Tam Pham</a>
						<input type="checkbox" id="checkbox-02" class="tel-checkbox" />
						<label for="checkbox-02" class="tel-label">
							<i class="glyphicon glyphicon-earphone"></i> Nhấn để xem
						</label>
						<a href="tel:01643652922" class="tel">
							<i class="glyphicon glyphicon-earphone"></i> 01643-652-922
						</a>
					</h4>
					<ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
						<li>4,820 m2</li>
						<li style="list-style: none">|</li>
						<li>5 phòng ngủ</li>
						<li style="list-style: none">|</li>
						<li><b>12tr VND/Tháng</b></li>
					</ul>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur. 
					<a href="/chi-tiet">chi tiết <i class="glyphicon glyphicon-menu-right"></i></a>
				</div>
				<div>
					<span class="wrapper-cover-img">
							<a class="fancybox" rel="gallery" href="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
								<img class="media-object" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
							</a>
						</span>
						<span class="wrapper-cover-img">
							<a class="fancybox" rel="gallery" href="http://images.prd.mris.com/image/V2/1/zMjCkcFeFDXDAP8xDhbD9ZmrVL7oGkBvSnh2bDBZ6UB5UHXa3_g8c6XYhRY_OxgGaMBMehiTWXDSLzBMaIzRhA.jpg">
								<img class="media-object" src="http://images.prd.mris.com/image/V2/1/zMjCkcFeFDXDAP8xDhbD9ZmrVL7oGkBvSnh2bDBZ6UB5UHXa3_g8c6XYhRY_OxgGaMBMehiTWXDSLzBMaIzRhA.jpg">
							</a>
						</span>
				</div>
				<small><a href="#">Hồ Chí Minh / Quận 7</a></small>
			</div>
			<div class="suggest-item">
				<div class="media-body">
					<h4 class="media-heading">
						<a href="/chi-tiet" data-items-list="" data-latitude="" data-longitude="">Tam Pham</a>
						<input type="checkbox" id="checkbox-09" class="tel-checkbox" />
						<label for="checkbox-09" class="tel-label">
							<i class="glyphicon glyphicon-earphone"></i> Nhấn để xem
						</label>
						<a href="tel:01643652922" class="tel">
							<i class="glyphicon glyphicon-earphone"></i> 01643-652-922
						</a>
					</h4>
					<ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
						<li>4,820 m2</li>
						<li style="list-style: none">|</li>
						<li>5 phòng ngủ</li>
						<li style="list-style: none">|</li>
						<li><b>12tr VND/Tháng</b></li>
					</ul>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio mollitia natus, ex assumenda iste odio repellendus esse tenetur. 
					<a href="/chi-tiet">chi tiết <i class="glyphicon glyphicon-menu-right"></i></a>
				</div>
				<div>
					<span class="wrapper-cover-img">
							<a class="fancybox" rel="gallery" href="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
								<img class="media-object" src="http://images.prd.mris.com/image/V2/1/Yu59d899Ocpyr_RnF0-8qNJX1oYibjwp9TiLy-bZvU9vRJ2iC1zSQgFwW-fTCs6tVkKrj99s7FFm5Ygwl88xIA.jpg">
							</a>
						</span>
						<span class="wrapper-cover-img">
							<a class="fancybox" rel="gallery" href="http://images.prd.mris.com/image/V2/1/zMjCkcFeFDXDAP8xDhbD9ZmrVL7oGkBvSnh2bDBZ6UB5UHXa3_g8c6XYhRY_OxgGaMBMehiTWXDSLzBMaIzRhA.jpg">
								<img class="media-object" src="http://images.prd.mris.com/image/V2/1/zMjCkcFeFDXDAP8xDhbD9ZmrVL7oGkBvSnh2bDBZ6UB5UHXa3_g8c6XYhRY_OxgGaMBMehiTWXDSLzBMaIzRhA.jpg">
							</a>
						</span>
				</div>
				<small><a href="#">Hồ Chí Minh / Quận 7</a></small>
			</div>
		</div>		
	</div>
</div
